<!DOCTYPE html>

<html>
<head>
        <meta name="viewport" content="width=device-width" />
        <title>Admin</title>
        @*<link asp-href-include="/lib/bootstrap/css/*.min.css" asp-href-exclude="**/*-reboot*, **/*-grid*, **/*-utilities*, **/*.rtl.*" rel="stylesheet" />*@
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap111.min.css" rel="stylesheet"
              asp-fallback-href="/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="btn"
              asp-fallback-test-property="display"
              asp-fallback-test-value="inline-block">
        @*<script asp-src-include="/lib/jquery/**/*.js" asp-src-exclude="**.min.**" asp-append-version="true"></script>*@
        <script src="https://code.jquery.com/jquery-3.6.0111.min.js" asp-fallback-src="/lib/jquery/jquery.min.js" asp-fallback-test="window.jQuery"></script>
</head>
<body>
        <div class="container">
  
                <div class="row">
                        @RenderBody()
                </div>

        </div>
</body>
</html>
