@model Product

<tr>
        @*<td>@Model.Name</td>*@
        <partial name="_CellPartial" for="Name" />
        <td>@Model.Price</td>

        <td>
                @if (ViewData["fruit"] == "apples")
                {
                        @:apples
                }
                else
                {
                        @:not apples
                }
        </td>
</tr>