@model Product

<!DOCTYPE html>
<html lang="en">
<head>
        <title></title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
        <div class="container">
                <div class="row m-2">
                        <h2 class="text-white bg-info p-2">Product</h2>

                        <table class="table table-striped table-bordered">
                                <tbody>
                                        <tr>
                                                <th>Name</th>
                                                <td>@Model.Name</td>
                                        </tr>
                                        <tr>
                                                <th>Price</th>
                                                <td>@Model.Price.ToString("c")</td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </div>
</body>
</html>