@model IEnumerable<Product>

@{
        decimal average = Model.Average(p => p.Price);
        ViewBag.Title = "List";
}

<div class="col-12 m-2">
        <h2 class="text-white bg-info p-2">All Products</h2>

        <table class="table table-striped table-bordered">
                <thead>
                        <tr>
                                <th>Name</th>
                                <th>Price</th>
                        </tr>
                </thead>
                <tbody>
                        @foreach (Product p in Model)
                        {
                                <partial name="_RowPartial" model="p" />
                        }
                </tbody>
        </table>
</div>
