@page
@using Core.Infrastructure
@model Core.Pages.CategoriesModel
@inject DataContext context

<div class="bg-primary text-white text-center p-2 m-2">
        Categories
</div>

<ul class="list-group m-2">
        @foreach (Category c in context.Categories)
        {
                <li class="list-group-item">@c.Name</li>
        }
</ul>