@page
@model Core.Pages.HandlerSelectorModel

<div class="bg-primary text-white text-center p-2 m-2">
        Handler Selector
</div>

<table class="table table-striped table-bordered">
        <tbody>
                <tr>
                        <th>Name</th>
                        <td>@Model.Product.Name</td>
                </tr>
                <tr>
                        <th>Price</th>
                        <td>@Model.Product.Price</td>
                </tr>
                <tr>
                        <th>Category</th>
                        <td>@Model.Product.Category?.Name</td>
                </tr>
        </tbody>
</table>

<a href="/handlerselector" class="btn btn-primary">Standard</a>
<a href="/handlerselector?handler=category" class="btn btn-primary">Category</a>