@page "{id:long?}"
@using Core.Infrastructure
@using Core.Models
@using Microsoft.AspNetCore.Mvc.RazorPages
@model IndexModel
@{
}

<h1>Razor Index</h1>

<partial name="_ProductPartial" model="Model.Product" />

@functions {
        public class IndexModel : PageModel
        {
                private DataContext _context;
                public Product Product { get; set; }

                public IndexModel(DataContext context)
                {
                        _context = context;
                }

                public async Task<IActionResult> OnGetAsync(long id = 1)
                {
                        Product = await _context.Products.FindAsync(id);

                        if (Product == null)
                        {
                                //return NotFound();
                                return RedirectToPage("NotFound");
                        }

                        return Page();
                }
        }
}