@model AuthDetailsViewModel

@{
        ViewData["Title"] = "Auth Details";
}

<h1>Auth Details</h1>

<table class="table">
        @if (Model.User == null)
        {
                <tr>
                        <th class="text-center">No user</th>
                </tr>
        } else
        {
                <tr><th>@Model.Cookie</th></tr>
                <tr><th>@Model.User.UserName</th></tr>
                <tr><th>@Model.User.Email</th></tr>
        }
</table>