@model IEnumerable<Product>

<div class="col-12 m-2">
        <h2 class="text-white bg-info p-2">All Products</h2>

        <table class="table table-striped table-bordered bg-@ViewBag.Class">
                <tablehead bg-color="dark">Product Summary</tablehead>
                <thead>
                        <tr bg-color="info" text-color="white">
                                <th>Name</th>
                                <th>Price</th>
                                <th>Category</th>
                        </tr>
                </thead>
                <tbody>
                        @foreach (Product p in Model)
                        {
                                <tr>
                                        <td class="text-right" highlight="true">@p.Name</td>
                                        <td class="text-right">@p.Price</td>
                                        <td class="text-right">@p.Category.Name</td>
                                </tr>
                        }
                </tbody>
        </table>
</div>

<table>
        <tr>
                <th>Fruit</th>
        </tr>
        <tr>
                <td bg-color="info">Apples</td>
        </tr>
</table>

<p bg-color="info" text-color="white">Oranges</p>

<div wrap="true" wrapper-string="Wrapper Content">Inner Content</div>