@page
@using Core.Infrastructure
@using Core.Models
@using Microsoft.AspNetCore.Mvc.RazorPages
@model ListModel

<h5>Categories</h5>

<ul class="list-group m-2">
        @foreach (string category in Model.Categories)
        {
                <li class="list-group-item">@category</li>
        }
</ul>

@functions {
        public class ListModel : PageModel
        {
                private DataContext _context;
                public IEnumerable<string> Categories { get; set; }

                public ListModel(DataContext context)
                {
                        _context = context;
                }

                public void OnGet()
                {
                        Categories = _context.Categories.Select(c => c.Name);
                }
        }
}