<!DOCTYPE html>

<html>
<head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        @*<script asp-src-include="/lib/jquery/**/*.js" asp-src-exclude="**.min.**" asp-append-version="true"></script>*@
        <script src="https://code.jquery.com/jquery-3.6.0111.min.js" asp-fallback-src="/lib/jquery/jquery.min.js" asp-fallback-test="window.jQuery"></script>
</head>
<body>
        <div class="container">
               
                <div class="row">
                        @RenderBody()
                </div>

        </div>
</body>
</html>
